//Шрифты========================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Kanit:300,400,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sofia+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//========================================================================================================================================================
//Цвета========================================================================================================================================================
$colorPurple: #6c63ff;
$colorWhite: #f7f7f7;
$colorBlack: #252525;

//========================================================================================================================================================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.wrapper {
    font-family: "Sofia Sans";
    width: 100%;
    background: $colorWhite;
    color: $colorBlack;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    // .todo__container

    &__container {
        flex: 1 1 auto;
        padding: 0px 10px;
        position: relative;
        width: 894px;
        h1 {
            text-align: center;
            padding: 0px 0px 18px 0px;
        }
    }

    // .todo__search

    &__search {
        z-index: 2;
        flex: 1;
        display: flex;
        align-items: top;
        padding: 0px 0px 33px 0px;
    }

    // .todo__notes

    &__notes {
        z-index: 2;
    }

    // .todo__note

    &__note {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #6b63ff75;
    }
    &__title {
        display: flex;
        align-items: center;
        gap: 17px;
        margin: 20px 0px 20px 0px;
        span {
            cursor: pointer;
            color: #6c63ff;
            font-size: 26px;
        }
    }

    &__actions {
        color: #cdcdcd;
        display: flex;
        gap: 13px;
        font-size: 18px;
        span {
            cursor: pointer;
            &:hover {
                color: #6c63ff;
            }
            &:nth-child(2) {
                &:hover {
                    color: #e50000;
                }
            }
        }
    }
    // .todo__add

    &__add {
        position: absolute;
        bottom: 50px;
        right: 10px;
        span {
            color: #f7f7f7;
            border-radius: 50%;
            background-color: #6c63ff;
            box-shadow: 0px 0px 4px 0px #6c63ff;
            font-size: 50px;
            cursor: pointer;
            &:active {
                background: #534cc2;
                border: 2px solid #6c63ff;
            }
        }
    }

    // .todo__new-note

    &__new-note {
        position: absolute;
    }
    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.search {
    gap: 16px;
    &__block {
        width: 100%;
        position: relative;
    }
    &__input {
        color: #6c63ff;
        width: 100%;
        display: inline-flex;
        height: 38px;
        padding: 8px 16px;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #6c63ff;
        box-shadow: 0px 0px 0px 0px #000;
        &:focus {
            border: 2px solid #6c63ff;
        }
    }
    i {
        cursor: pointer;
        position: absolute;
        color: #6c63ff;
        right: 5px;
        top: 5px;
    }
    // .search__input

    // .search__button-all

    &__button-all {
        border-radius: 5px;
        position: relative;
        display: flex;
        span {
            transform: scale(-1, 1);
        }

        span {
            position: absolute;
            right: 0;
            top: 0.5rem;
            color: #f7f7f7;
            cursor: pointer;
        }
    }
    &__navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1px;
        p {
            flex: 1;
            border-radius: 5px;
            background-color: #6c63ff;
            text-align: left;
            color: #f7f7f7;
            padding: 10px 20px;
            font-weight: 500;
            line-height: 100%;
            font-size: 18px;
            box-shadow: 0px 0px 4px 0px #6c63ff;
            &:active {
                background: #534cc2;
                border: 2px solid #6c63ff;
            }
        }
    }

    &__list {
        visibility: hidden;
        position: absolute;
        border-radius: 5px;
        background-color: #f7f7f7;
        color: #6c63ff;
        border: 1px solid #6c63ff;
        text-align: left;
        list-style: none;
        position: relative;
        transition: all 0.3s ease 0s;

        li {
            flex: 1;
            cursor: pointer;
            display: flex;
            justify-content: left;
            align-items: center;
            &:hover {
                background: rgba(108, 99, 255, 0.2);
            }
        }

        a {
            display: block;
            padding: 0px 10px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: inherit;
        }
    }

    // .search__button-light

    &__button-mode {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 0px 7px;
        height: 38px;
        color: #f7f7f7;
        background: #6c63ff;
        &:active {
            background: #534cc2;
            box-shadow: 0px 0px 4px 0px #6c63ff;
        }
        button {
        }
    }
}

.expend {
    display: block;
}
//========================================================================================================================================================

.new-note {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.7);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.4s;

    // .new-note__title

    &__container {
        border-radius: 16px;
        background: #f7f7f7;
        width: 500px;
        height: 289px;
        border: 1px solid #f7f7f7;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        line-height: 100%;
        font-size: 24px;
        margin: 18px 0px 25px 0px;
    }

    // .new-note__input

    &__input {
        padding: 0px 30px 128px 30px;
        input {
            color: #6c63ff;
            width: 100%;
            display: inline-flex;
            height: 38px;
            padding: 8px 16px;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #6c63ff;
            box-shadow: 0px 0px 0px 0px #000;
            &:focus {
                border: 2px solid #6c63ff;
            }
        }
    }

    // .new-note__buttons

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 233px;
        border-radius: 5px;
        padding: 0px 7px;
        height: 38px;
        color: #f7f7f7;
        span {
            cursor: pointer;
            padding: 10px 22px;
            border-radius: 5px;

            border: 1px solid #6c63ff;
            background-color: inherit;
            color: #6c63ff;
        }
    }

    &__button {
        border: none;
        cursor: pointer;
        padding: 0;
        font: inherit;
        i {
            font-style: normal;
            padding: 10px 22px;
            border-radius: 5px;
            color: #f7f7f7;
            background-color: #6c63ff;
        }
    }

    // .new-note__cancle
}

.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

//Темная версия========================================================================================================================================================
.dark-mode {
    background-color: #252525;
    color: $colorWhite;
    border-color: #f7f7f7;
    input {
        background-color: #252525;
        border-color: #f7f7f7;
        color: #f7f7f7;
        &:focus {
            border: 2px solid #f7f7f7;
        }
    }
    i {
        color: #f7f7f7;
    }
}
//Затенение========================================================================================================================================================

//Выполненая задача========================================================================================================================================================
.done {
    text-decoration: line-through;
    color: rgb(151, 151, 151);
}

.hide {
    visibility: hidden;
}
